VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_publishable_key

NEXT_PUBLIC_SUPABASE_URL=https://isuquuszhmgjigrxpveu.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_qMQCg3-0_g9rkH7I2WSnPQ_vHM9pv4e